{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Salary Details</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h4>Employee Name: {{ salary.name }}</h4>
            <h4>Employee ID: {{ salary.employee_id }}</h4>
            <hr>
            <h5>Salary Range: {{ salary.salary_range }}</h5>
            <h5>Allowances: {{ salary.allowances }}</h5>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'employee_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
    </div>
</div>
{% endblock %}